@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-literata), ABeeZee, ui-sans-serif, sans-serif, system-ui;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Alkalami, ui-serif, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --animate-spinner-blade: spinner-blade 1s linear infinite;

  @keyframes spinner-blade {
    0% {
      opacity: 0.85;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 0.25;
    }
  }
  @keyframes spinner-blade {
  0% {
    opacity: 0.85;
    }
  50% {
    opacity: 0.25;
    }
  100% {
    opacity: 0.25;
    }
  }
  --color-context-card-border: var(--context-card-border);
  --animate-fade-spin: fade-spin 1.2s linear infinite;
  --color-ds-background-100: var(----ds-background-100);
  --color-ds-gray-alpha-400: var(----ds-gray-alpha-400);
  --color-ds-gray-1000: var(----ds-gray-1000);
  --color-ds-gray-100: var(----ds-gray-100);
  --color-ds-amber-900: var(----ds-amber-900);
  --color-ds-amber-100: var(----ds-amber-100);
  --color-ds-red-900: var(----ds-red-900);
  --color-ds-red-100: var(----ds-red-100);
  --color-ds-blue-900: var(----ds-blue-900);
  --color-ds-blue-100: var(----ds-blue-100)
;
  @keyframes fade-spin {
  0% {
    opacity: 0.1;}
  50% {
    opacity: 1;}
  100% {
    opacity: 0.1;}}}

:root {
  --radius: 0.5rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.6234 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4459 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4459 0 0);
  --primary: oklch(0.546 0.245 250.01);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.8212 0.1490 320.8903);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9851 0 0);
  --muted-foreground: oklch(0.5795 0 0);
  --accent: oklch(0.9851 0 0);
  --accent-foreground: oklch(0.3979 0 0);
  --destructive: oklch(0.4202 0 0);
  --border: oklch(0.9551 0 0);
  --input: oklch(0.9551 0 0);
  --ring: oklch(0.96 0 0);
  --chart-1: oklch(0.7863 0.2664 142.3064);
  --chart-2: oklch(0.8828 0.1811 94.4604);
  --chart-3: oklch(0.7131 0.1945 47.8834);
  --chart-4: oklch(0.8485 0.1308 331.4797);
  --chart-5: oklch(0.8485 0.1308 331.4797);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.3520 0.0017 106.4867);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9612 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.96 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: var(--font-literata), ABeeZee, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Alkalami, ui-serif, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --context-card-border: hsla(0, 0%, 92%, 1);
  --ds-blue-100: oklch(97.32% 0.0141 251.56);
  --ds-blue-900: oklch(53.18% 0.2399 256.9900584162342);
  --ds-red-100: oklch(96.5% 0.0223 13.09);
  --ds-red-900: oklch(54.99% 0.232 25.29);
  --ds-amber-100: oklch(97.48% 0.0331 85.79);
  --ds-amber-900: oklch(52.79% 0.1496 54.65);
  --ds-gray-100: hsla(0, 0%, 95%, 1);
  --ds-gray-1000: hsla(0, 0%, 9%, 1);
  --ds-gray-alpha-400: hsla(0, 0%, 0%, 0.08);
  --ds-background-100: hsla(0, 0%, 100%, 1);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9143 0.0022 17.1982);
  --card: oklch(0.2046 0 0);
  --card-foreground: oklch(0.9818 0.0054 95.0986);
  --popover: oklch(0.2244 0.0031 17.3887);
  --popover-foreground: oklch(0.9211 0.0040 106.4781);
  --primary: oklch(0.7245 0.1890 50.9404);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9818 0.0054 95.0986);
  --secondary-foreground: oklch(0.2478 0 0);
  --muted: oklch(0.2389 0.0019 106.5407);
  --muted-foreground: oklch(0.7713 0.0169 99.0657);
  --accent: oklch(0.2013 0.0016 17.2890);
  --accent-foreground: oklch(0.9663 0.0080 98.8792);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.2603 0 0);
  --input: oklch(0.3420 0.0044 67.6778);
  --ring: oklch(0.96 0 0);
  --chart-1: oklch(0.6677 0.2235 36.9862);
  --chart-2: oklch(0.7661 0.1612 55.7339);
  --chart-3: oklch(0.2130 0.0078 95.4245);
  --chart-4: oklch(0.3074 0.0516 289.3230);
  --chart-5: oklch(0.5608 0.1348 42.0584);
  --sidebar: oklch(0.2357 0.0024 67.7077);
  --sidebar-foreground: oklch(0.8074 0.0142 93.0137);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.1680 0.0020 106.6177);
  --sidebar-accent-foreground: oklch(0.8074 0.0142 93.0137);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.96 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: var(--font-literata), ABeeZee, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Alkalami, ui-serif, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --context-card-border: hsla(0, 0%, 18%, 1);
  --ds-blue-100: oklch(22.17% 0.069 259.89);
  --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
  --ds-red-100: oklch(22.1% 0.0657 15.11);
  --ds-red-900: oklch(69.96% 0.2136 22.03);
  --ds-amber-100: oklch(22.46% 0.0538 76.04);
  --ds-amber-900: oklch(77.21% 0.1991 64.28);
  --ds-gray-100: hsla(0, 0%, 10%, 1);
  --ds-gray-1000: hsla(0, 0%, 93%, 1);
  --ds-gray-alpha-400: hsla(0, 0%, 100%, 0.14);
  --ds-background-100: hsla(0, 0%, 4%, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: var(--font-sans);
  }
  body {
    @apply bg-background text-foreground font-sans;
    letter-spacing: var(--tracking-normal);
  }
}

::selection {
  background-color: #ed5656;
  /* Orchid selection */
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border outline-ring/50;}
  body {
    @apply bg-background text-foreground;}}
